.header {
    max-width: 100%;
    height: 64px;
    box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }

    &-logo {
        display: flex;
        align-items: center;
    }

    &-burger {
        display: none;
    }

    &-menu {
        &__list {
            display: flex;
            align-items: center;
        }

        &__item {
            &:not(:first-child) {
                margin-left: 40px;
            }
        }

        &__link {
            color: $text-black;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            transition: .3s all ease;

            &:hover {
                color: $text-blue;
            }
        }
    }
}

@media (max-width: 769px) {
    .header {
        height: 52px;

        &-inner {
            height: 52px;
        }

        &-burger {
            display: block;
            position: relative;
            z-index: 2;
            width: 30px;
            height: 20px;
            cursor: pointer;

            &::before,
            &::after,
            span {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: .3s all ease;
                background-color: #000;
            }

            &::before,
            &::after {
                content: '';
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &.active span {
                transform: scale(0) translate(0px, -50%);
            }

            &.active {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }

        &-menu {
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            background-color: #fff;
            transition: .3s all ease;

            &__list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__item {
                margin-bottom: 40px;

                &:not(:first-child) {
                    margin-left: 0;
                }
            }

            &__link {
                color: #000;
                font-weight: 500;
                font-size: 32px;
                line-height: 48px;
                transition: .3s all ease;

                &:hover {
                    color: $text-blue;
                }
            }

            &.active {
                top: 0;
            }
        }

    }
}

@media (max-width: 400px) {
    .header {
        &-menu {
            &__link {
                font-size: 26px;
                line-height: 28px;
            }
        }
    }
}