@import 'variable';
@import 'reset';
@import 'header';
@import 'main';
@import 'opportunities';
@import 'get';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik';

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 12px;
}






